/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

.txt-color-my-blue{
    color: #3276b1;
}
.btn-orange{
   background: #e3651b;
   border: #fff;
}
.btn-orange:hover{
  background: #ea4d2a;
}
#extr-page #header #logo img {
    width: 100%;
}
#extr-page #header {
    margin: 0;
    height: 110px;
    border-bottom: 1px solid #eee!important;
    overflow: hidden;
    padding: 0 30px;
    border-width: 0;
    min-height: 28px;
    background: #f4f4f4!important;
}
#extr-page-header-space {
    float: right;
    text-align: right;
    display: block;
    vertical-align: middle;
    line-height: 71px;
    margin-top: 20px;
}
