<nav>
    <ul>
        <li>
            <a href="javascript:;" onclick="carregarPaginaAjax('/Dashboard/Index')" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
        </li>
        <li>
            <a href="javascript:;" title="Cliente" onclick="carregarPaginaAjax('/Cliente/Index')"><i class=" fa fa-lg fa-fw fa-group"></i> <span class="menu-item-parent">Clientes</span></a>
        </li>
    </ul>
</nav>